<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
</head>
<body>
    <div class="container" style="text-align:center">
            {% include 'navbar.html' %}
            <h1>The Services</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit praesentium aperiam modi tempora, molestiae saepe possimus sed hic error voluptatibus sequi adipisci repellat nemo vel blanditiis sunt incidunt facere voluptatem ut magni nisi a? Architecto maiores consequuntur voluptate asperiores assumenda nulla, ratione reprehenderit, et doloribus, unde incidunt? Omnis, iure quas!</p>
            <button>Contact US</button>
    </div>
</body>
</html>